<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="/images/logo.jpg" width="100" height="100"/>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h1>向妳学习</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <h2><a href="/">首页</a>&nbsp;&nbsp; <a href="/education">教育</a>&nbsp;&nbsp; <a href="/practice">实践</a>&nbsp;&nbsp; <a href="/research">科研</a></h2>
        {% if page.category == "education" %}
        <h3><a href="/education/life_education.html">生命教育</a></h3>
        <h3>理性教育</h3>
        <h3><a href="/education/talks.html">公益讲坛</a></h3>
        {% endif %}
        {% if page.category == "practice" %}
        <h3>家庭</h3>
        <h3>社区</h3>
        <h3>社会</h3>
        {% endif %}
        {% if page.category == "research" %}
        <h3>理论来源</h3>
        <h3>发表观点</h3>
        <h3>科研成果</h3>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
